@font-face {
    font-family: YaHei;
    src: url(../fonts/yahei.ttf);
}

h1 {
	font-family: YaHei;
	color: white;
	font-weight: lighter;
	text-align: left;
	font-size: 36px;
	line-height: 48px;
}


body {

	width: 100%;
	padding: 0 0 0 0;
	margin: 0px;
	/*min-width: 1200px;*/

}

nav {
	height: 60px;
	width: 100%;
	position: fixed;
	border-bottom: 2px solid #4595DB;
	border-radius: 0px;
	padding: 0px;
	background-color: #f9f9f9;
	z-index: 999;
	top: 0px;
}

.navbar-logo {
	height: 60px;
	width: 274px;
	background-image: url('../img/navbar-logo.png');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: 134px 24px;
    overflow: hidden;
    position: absolute;
    left: 20px;

}

.navbar-links-container {
	float: right;
	margin-right: 30px;
	line-height: 60px;

}

.navbar-links {
	text-decoration: none;
	color: #4595DB;
	font-size: 14px;
}

.navbar-links:hover {
	text-decoration: none;
	color: #2378C2;
}

.navbar-links:active {
	text-decoration: none;
	color: #4595DB;
}

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.banner-text-container {
    position: absolute;
  	top: 200px;
  	right: 120px;
}

.banner {
	width: 100%;
	height: auto;
	min-height: 460px;
	background-image: url('../img/banner.png');
	background-repeat: no-repeat;
    background-position: center; 
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 6px;
}

.banner-device-image {
	height: 460px;
	width: auto;
	position: absolute;
    right: 120px;
}

.homepage-features-container {
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 6px;

}

.homepage-features-column {
	padding: 0 3px 0 3px;
	/*margin: 0 2px 0 2px;*/
}

.homepage-features-image {
	height: 250px;
	width: 100%;
	max-width: 500px;
	background-size: auto 250px;
	/*opacity: 0;*/
	-webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.homepage-features-image-1 {
	background-image: url('../img/feature1.png');
	background-repeat: no-repeat;
    /*background-position: center; */
    overflow: hidden;
}

.homepage-features-image-2 {
	background-image: url('../img/feature2.png');
	background-repeat: no-repeat;
    background-position: center; 
    overflow: hidden;
}

.homepage-features-image-3 {
	background-image: url('../img/feature3.png');
	background-repeat: no-repeat;
    background-position: center; 
    overflow: hidden;
}

.homepage-features-image:hover {
	opacity: 0.8;
	-webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.homepage-features-text {
	z-index: 100;
	font-family: YaHei;
	color: white;
	/*font-weight: lighter;*/
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	margin-left: 60px;
	width: 200px;
	margin-top: 95px;
}

.footer-logo {
	height: 74px;
	width: 74px;
	background-image: url('../img/footer-icon.png');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: 30px 37px;
    overflow: hidden;
    left: 60px;
    float: left;
}

.footer-links-left {
	/*display: inline;*/
	line-height: 74px;
	/*overflow: visible;*/
}

.footer-links-left:hover {
	text-decoration: none;
	color: #2378C2;
}

.footer-license {
	color: #4595DB;
	font-size: 12px;
	line-height: 74px;
	text-align: left;
}

.tags {
	color: #4595DB;
	font-size: 16px;
	line-height: 19px;
	text-align: left;
}

.tags-link {
	color: #4595DB;
	font-size: 14px;
	line-height: 19px;
	text-align: left;
}
.tags-link:hover {
	text-decoration: none;
	color: #2378C2;
	font-size: 14px;
	line-height: 19px;
	text-align: left;
}